<!DOCTYPE html>
<html lang="en" >
    <head>
        @RenderSection( "metas" )
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>@ViewData[ "Title" ] - AlfieCodes</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <nav class="bg-dark navbar navbar-dark navbar-expand-lg" >
                <a asp-area="" asp-page="/Index" class="navbar-brand" >AlfieCodes</a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button" >
                    <span class="navbar-toggler-icon" ></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                    <ul class="mr-auto navbar-nav" >
                        <li class="nav-item" >
                            <a asp-area="" asp-page="/Index" class="nav-link text-light" >Home</a>
                        </li>
                    </ul>
                    @if (!User.Identity.IsAuthenticated)
                    {

                        <form class="form-inline my-2 my-lg-0">
                            <a asp-area="" asp-page="/Login" class="nav-link text-light">Login</a>
                        </form>
                        <form class="form-inline my-2 my-lg-0">
                            <a asp-area="" asp-page="/Register" class=" nav-link text-light">Register</a>
                        </form>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <form class="form-inline my-2 my-lg-0">
                            <a asp-area="Administration" asp-page="/Index" class=" nav-link text-light">Admin Area</a>
                        </form>
                        <form class="form-inline my-2 my-lg-0">
                            <a asp-area="" asp-page="/Logout" class=" nav-link text-light">Logout</a>
                        </form>
                    }
                    else
                    {
                        <form class="form-inline my-2 my-lg-0">
                            <a asp-area="" asp-page="Logout" class=" nav-link text-light">Logout</a>
                        </form>
                    }
                    <form class="form-inline my-2 my-lg-0">
                        <a asp-area="" asp-page="/Search" class=" nav-link text-light">Search</a>
                    </form>
                </div>
            </nav>
        </header>
        <div class="container" >
            <main class="pb-3" role="main" >
                <br />
                <br />
                @RenderBody()
            </main>
        </div>

        <footer class="bg-dark border-top footer text-muted" >
            <div class="container" >
                &copy; 2019 - AlfieCodes
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js" ></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
        <script asp-append-version="true" src="~/js/site.js" ></script>

        @RenderSection( "Scripts", required : false )
    </body>
</html>
