@page
@model AlfieCodes.Pages.FailModel
@{
    ViewData["Title"] = "Fail";
}

<div class="col-sm-6 offset-sm-3 text-center">
    <br />
    <h1>Fail</h1>
    <br /><br />
    <p>We are sorry but the information you entered was invalid. Please try again</p>
    <a asp-page="/Login">Login</a>
</div>

