@page
@model AlfieCodes.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div style="text-align: center;">
    <h1>Are you sure you want to logout?</h1>

    <a asp-page="/Logout">Log out</a>
</div>

