@page
@model AlfieCodes.Pages.RegisterModel
@{
    ViewData[ "Title" ] = "Register";
}
<div class="col-sm-6 offset-sm-3 text-center" >
    <br />
    <h1>Register</h1>
    <br /><br />
    <form class="justify-content-center" method="post" >
        <div class="form-group" >
            <label>
                Email
                <input asp-for="Users.Email" aria-describedby="emailHelp" class="form-control" placeholder="Email" type="email" />
            </label>
            <small class="form-text text-muted" id="titleHelp" >We will never share your email with anyone.</small>
        </div>
        <div class="form-group" >
            <label>
                Username
                <input asp-for="Users.Username" aria-describedby="usernameHelp" class="form-control" placeholder="Username" type="text" />
            </label>
        </div>
        <div class="form-group" >
            <label>
                Password
                <input asp-for="Users.Password" aria-describedby="passwordHelp" class="form-control" placeholder="Password" type="password" />
            </label>
        </div>
        <button class="btn btn-primary" type="submit" >Register</button>
    </form>
</div>
