@page
@model AlfieCodes.Pages.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="col-sm-6 offset-sm-3 text-center">
    <br />
    <h1>Success</h1>
    <br /><br />
    <p>Welcome to the website!</p>
</div>

