@page "{title}-{postId:guid}"
@using HeyRed.MarkdownSharp;

@model AlfieCodes.Areas.Posts.Pages.IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData[ "Title" ] = @Model.BlogPost.Title;

    var options = new MarkdownOptions
    {
        AutoHyperlink = true,
        AutoNewLines = true,
        LinkEmails = true,
        QuoteSingleLine = true,
        StrictBoldItalic = true
    };

    var mark = new Markdown(options);
}

<div>
    <h1>@Model.BlogPost.Title</h1>
    <div>@Html.Raw( mark.Transform( Model.BlogPost.Body ) )</div>
    <small>@Model.BlogPost.CreatedAt</small>
</div>