@page "{title}-{postId:guid}"
@using AlfieCodes.Data
@using AlfieCodes.Models
@model AlfieCodes.Areas.Posts.Pages.IndexModel

@functions {
}
@{
    var MarkupBody = @Model.BlogPost.Body.Replace("<br/>", Environment.NewLine);
    Layout = "Shared/_Layout";
}

<div>
    <h1>@Model.BlogPost.Title</h1>
    <div>@MarkupBody</div>
    <small>@Model.BlogPost.CreatedAt</small>
</div>