@page
@model AlfieCodes.Areas.Administration.Pages.CreateBlogPostModel
@{
    ViewData["Title"] = "CreateBlogPost";
    Layout = "_AdminLayout";
}

    <form method="post" style="text-align: center;">
        <div class="form-group">
            <label>
                Title
                <input asp-for="BlogPost.Title" type="text" class="form-control" aria-describedby="titleHelp" placeholder="Title" />
            </label>
            <small id="titleHelp" class="form-text text-muted">Title of the blog post</small>
        </div>
        <div class="form-group" >
            <label>
                Body
                <textarea asp-for="BlogPost.Body" type="text" class="form-control" aria-describedby="titleBody" placeholder="Body"></textarea>
            </label>
            <small id ="bodyHelp" class="form-text text-muted">Body of the blog post</small>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
