@page
@using System.Security.Claims;
@model AlfieCodes.Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = $"../Shared/_AdminLayout";
    string username = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value;
}

<h1>Administration Zone</h1>
<span>Welcome back @username!</span>

<br /><br />
<a asp-page="/Blog/Index">
    <div class="box">
        <br />
        <span>Blog</span>
        <br />
        <i class="fas fa-book"></i>
    </div>
</a>

<a asp-page="/Users/Index">
    <div class="box">
        <br />
        <span>Users</span>
        <br />
        <i class="fas fa-user-lock"></i>
    </div>
</a>