@page
@model AlfieCodes.Areas.Administration.Pages.Blog.CreateBlogPostModel
@{
    ViewData["Title"] = "Create Blog Post";
    Layout = "Shared/_AdminLayout";
}

@* make tags separated by spaces *@

    <form method="post" style="text-align: center;">
        <div class="form-group">
            <label>
                Title
                <input asp-for="BlogPost.Title" type="text" class="form-control cbp" aria-describedby="titleHelp" placeholder="Title" />
            </label>
            <small id="titleHelp" class="form-text text-muted">Title of the blog post</small>
        </div>

        <div class="form-group">
            <label>
                Summary
                <input asp-for="BlogPost.Summary" type="text" class="form-control cbp" aria-describedby="summaryHelp" placeholder="Summary" />
            </label>
            <small id="summaryHelp" class="form-text text-muted">Brief summary of your blog</small>
        </div>
        <div class="form-group">
            <label>
                Body
                <textarea asp-for="BlogPost.Body" type="text" class="form-control cbp" aria-describedby="bodyHelp" placeholder="Body"></textarea>
            </label>
            <small id="bodyHelp" class="form-text text-muted">Body of the blog post</small>
        </div>
        <div class="form-group">
            <label>
                Tags
                <input asp-for="BlogPost.Tags" type="text" class="form-control cbp" aria-describedby="tagHelp" placeholder="Tags" />
            </label>
            <small id="tagsHelp" class="form-text text-muted">Tags of the blog post</small>
        </div>
        <div class="form-group">
            <label>
                Time to Read
                <input asp-for="BlogPost.ReadTime" type="text" class="form-control cbp" aria-describedby="readtimeHelp" placeholder="Time to read" />
            </label>
            <small id="readTimeHelp" class="form-text text-muted">How long it'll take to read.</small>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
