@page "{postId:guid}"
@using System.Linq
@using AlfieCodes.Data
@model AlfieCodes.Areas.Administration.Pages.Blog.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "Shared/_AdminLayout";
}

<h1>Edit Blog Post</h1>

<form method="post" style="text-align: center;">
    <div class="form-group">
        <label>
            Title
            <input asp-for="BlogPost.Title" type="text" class="form-control cbp" aria-describedby="titleHelp" placeholder="Title" />
        </label>
        <small id="titleHelp" class="form-text text-muted">Title of the blog post</small>
    </div>
    <div class="form-group">
        <label>
            Body
            <textarea asp-for="BlogPost.Body" type="text" class="form-control cbp" aria-describedby="titleBody" placeholder="Body"></textarea>
        </label>
        <small id="bodyHelp" class="form-text text-muted">Body of the blog post</small>
    </div>
    <div class="form-group">
        <label>
            Tags
            <input asp-for="Tags" type="text" class="form-control cbp" aria-describedby="titleBody" placeholder="Tags" />
        </label>
        <small id="tagsHelp" class="form-text text-muted">Tags of the blog post</small>
    </div>
    <div class="form-group">
        <label>
            Time to Read
            <input asp-for="BlogPost.ReadTime" type="text" class="form-control cbp" aria-describedby="readtimeHelp" placeholder="Time to read" />
        </label>
        <small id="readTimeHelp" class="form-text text-muted">How long it'll take to read.</small>
    </div>
    <div class="form-group">
        <label>
            Image Link
            <input asp-for="BlogPost.Image" type="text" class="form-control cbp" aria-describedby="readtimeHelp" placeholder="Link to an image" />
        </label>
        <small id="imageHelp" class="form-text text-muted">Link to an image you wish to use for the blog.</small>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>